{% extends 'base.html.twig' %}

{% block title %}Gérer les annonces
{% endblock %}

{% block body %}
    <h1>Gérer les annonces</h1>
    <table class="table striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Adresse</th>
            <th>Date de publication</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.address}}</td>
                <td>{{post.createdAt|date}}</td>

                <td class="text-center">
                    <a href="{{ path('admin_modifier', {'id' : post.id}) }}" class="btn primary press modal-trigger" data-target="modal-delete" data-id="{{post.id}}" data-titre="{{post.title}}">Modifier</a>
                </td>
                <td class="text-center">
                    <a href="{{ path('supprimer', {'id' : post.id}) }}" class="btn primary press modal-trigger" data-target="modal-delete" data-id="{{post.id}}" data-titre="{{post.title}}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="modal white falling" id="modal-delete">
        <div class="modal-header">Supprimer une annonce</div>
        <div class="divider"></div>
        <div class="modal-content">
        </div>
        <div class="divider"></div>
        <div class="modal-footer">
            <a href="" class="btn red">Valider</a>
            <button data-target="modal-delete" class="ml-auto btn small primary modal-trigger">Close</button>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        window.onload = () => {
            let modal = new Modal('#modal-delete');
            let activer = document.querySelectorAll("[type=checkbox]")
            for (let bouton of activer) {
                bouton.addEventListener("click", function () {
                    let xmlhttp = new XMLHttpRequest;
                    xmlhttp.open("get", `/admin/post/activer/${this.dataset.id}`)
                    xmlhttp.send()
                })
            }
            let supprimer = document.querySelectorAll(".modal-trigger")
            for(let bouton of supprimer){
                bouton.addEventListener("click", function () {
                    document.querySelector(".modal-footer a").href = `/admin/post/supprimer/${this.dataset.id}`
                    document.querySelector(".modal-content").innerText = `Êtes-vous sûr(e) de vouloir supprimer l'annonce "${this.dataset.title}"`
                })

            }
        }
    </script>
{% endblock %}