{% extends 'base.html.twig' %}

{% block body %}

    {% block content %}

        {% if app.user and app.user.id == post.user.id %}
            <a class="nav-link" href="{{ path('user_post_edit' , {
                'id' : post.id
            }) }}">Modifier mon annonce</a>
        {% endif %}

    <h2>{{ post.title }}</h2>
    <p>{{ post.address }}</p>
        <img src="{{ asset('uploads/posts/' ~ post.image) }}" class="card-img-top" alt="{{ post.alias }}">


        # User
        <img src="{{ asset('uploads/posts/' ~ post.user.avatar) }}">
        <p>{{ post.user.nickname }}</p>

        <p> {{ post.parkings.createdAt|date("m/d/Y H:i:s", "Europe/Paris") }}</p>

        <p> {{ post.parkings.updatedAt|date("m/d/Y H:i:s", "Europe/Paris") }}</p>


        # caractèristiques véhicule
        <h3>Véhicules conseillés</h3>
        <p>{{ post.parkings.category.title }}</p>

        <h3>A propos de {{ post.title }}</h3>
        <p>{{ post.content }}</p>

        <h3>Dimensions</h3>
        <p>{{ post.parkings.largeur }}</p>
        <p>{{ post.parkings.longueur }}</p>
        <p>{{ post.parkings.hauteur }}</p>

        <h3>Caractéristiques</h3>
{#        if post[parking] == parking {#}
{#            if parkings == guard || parkings == camera || parking == covered || parking == locked{#}
{#                reterun #}
{#            } #}
{#        #}
{#        #}
{#        }#}

        {% if post.parkings == post.parkings.guard %}
            <p>Gardiens</p>
        {% endif %}

            {% if post.parkings == post.parkings.camera %}
                <p>Camera</p>
    {% endif %}

        {% if post.parkings == post.parkings.covered %}
            <p>Parking couvert</p>
        {% endif %}
        {% if post.parkings == post.parkings.locked %}
            <p>Parking fermeé à clé</p>
        {% endif %}

        <h3>Voir sur la carte</h3>



        <h3>Ça pourrait vous plaire</h3>

{#                {{ dump(postrepo) }}#}

        {% for post in postrepo %}
{#            {{ postrepos }}#}

            <div class="col-4 mt-3">
                {% include 'components/_card.html.twig' %}
            </div>


        {% endfor %}




    {% endblock %}


{% endblock %}
