
<div class="card" style="width: 18rem;">
    <img src="{{ asset('uploads/posts/' ~ post.image) }}" class="card-img-top" alt="{{ post.alias }}">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>

        <p>{{ post.address }}</p>

    <div class="card-body">
        <p>{{ post.parkings.category.title }}</p>
        <p>Disponible à partir de {{ post.availability|date("d/m/Y", "Europe/Paris") }}</p>
    </div>

    </div>
    <div class="card-body">
        <a href="{{ path('default_annonce', {
            'alias' : post.alias
            }) }}" class="card-link">Voir l'annonce</a>
    </div>
</div>
