{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
{% endblock %}
<div class="card" style="width: 18rem;">
    <img src="{{ asset('uploads/posts/' ~ post.image) }}" class="card-img-top" alt="{{ post.alias }}">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>

        <p>{{ post.address }}</p>

    <div class="card-body">
        <p>{{ post.parkings.category.title }}</p>
    </div>
        <div>
            {% if is_granted("ROLE_USER") %}
                {% set isFavorite = false %}
                {% for favoris in post.favoris %}
                    {% if favoris.id == app.user.id %}
                        {% set isFavorite = true %}
                    {% endif %}
                {% endfor %}
                {% if isFavorite %}
                    <a href="{{ path('retrait_favoris', {id: post.id}) }}"><i class="fas fa-heart"></i></a>
                {% else %}
                    <a href="{{ path('ajout_favoris', {id: post.id}) }}"><i class="far fa-heart"></i></a>
                {% endif %}

            {% else %}
                <i class="far fa-heart"></i>
            {% endif %}

        </div>
    </div>
    <div class="card-body">
        <a href="{{ path('default_annonce', {
            'alias' : post.alias
            }) }}" class="card-link">Voir l'annonce</a>
    </div>

</div>
