<article class="carte-annonce">
    <figure><img src="{{ asset('uploads/posts/' ~ post.image) }}" alt="{{ post.alias }}" ></figure>
    <div class="carte-content">
        <div class="cartes-infos">
            <div class="vehicules">
                <ul class="liste-vehicules">
                    {% if post.parkings.category.title == post.parkings.category.title %}
                        {% if post.parkings.category.id == '3' %}
                            <li>
                                <img src="{{ asset('assets/images/icon-vehicules-1-velo.svg') }}" alt="Moto, deux roues motorisé" title="Moto, deux roues motorisé">
                            </li>
                        {% endif %}
                        {% if post.parkings.category.id == '2' %}
                            <li>
                                <img src="{{ asset('assets/images/icon-vehicules-2-moto.svg') }}" alt="Moto, deux roues motorisé" title="Moto, deux roues motorisé">
                            </li>
                        {% endif %}
                        {% if post.parkings.category.id == '5' %}
                            <li>
                                <img src="{{ asset('assets/images/icon-vehicules-3-auto.svg') }}" alt="Moto, deux roues motorisé" title="Moto, deux roues motorisé">
                            </li>
                        {% endif %}
                        {% if post.parkings.category.id == '6' %}
                            <li>
                                <img src="{{ asset('assets/images/icon-vehicules-5-campingcar.svg') }}" alt="Moto, deux roues motorisé" title="Moto, deux roues motorisé">
                            </li>
                        {% endif %}
                        {% if post.parkings.category.id == '7' %}
                            <li>
                                <img src="{{ asset('assets/images/icon-vehicules-6-camion.svg') }}" alt="Moto, deux roues motorisé" title="Moto, deux roues motorisé">
                            </li>
                        {% endif %}
                        {% if post.parkings.category.id == '8' %}
                            <li>
                                <img src="{{ asset('assets/images/icon-vehicules-4-utilitaire.svg') }}" alt="Moto, deux roues motorisé" title="Moto, deux roues motorisé">
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            <div class="prix-bloc">
                <span class="prix-description">À partir de</span>
                <strong class="prix-valeur">{{ post.priceDay }}<span class="devise">€</span></strong>
            </div>
        </div>
        <button class="bouton-mini bouton-favoris" type="submit" title="Ajouter aux favoris">

        </button>

        <h3 class="carte-titre">{{ post.title }}</h3>
        <p class="adresse">{{ post.address }}</p>
        <a href="{{ path('default_annonce', {
            'alias' : post.alias
        }) }}" class="card-link"><span>Voir</span></a>
    </div>
</article>




