<!--Navigation principale -->
<nav class="navbar" aria-label="principale">
    <div class="conteneur">
        <a href="{{ path('home') }}" class="logo" title="Parkey, page d'accueil"><img src="{{ asset('assets/images/logo_parkey_insigne.svg') }}" alt="Parkey logo"> <span class="hidden-mobile-tel">Parkey</span></a>
        <ul id="top-nav" class="navbar-menu">
            <li><a href="{{ path('search_parking') }}">Réserver un parking</a></li>
            <li><a href="{{ path('post_new') }}">Déposer une annonce</a></li>
            <li class="bouton-mon-compte" id="toggle-compte">
                <a href="#">Mon compte</a>
                <ul id="sous-menu" class="sous-menu">
                    <!-- Liens non connecté -->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin_home_admin') }}">Gestion des utilisateurs</a></li>
                            <li><a href="{{ path('home_post') }}">Gestion des annonces</a></li>
                            <li><a href="{{ path('user_profil') }}">Profil admin</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('user_profil') }}">Informations personnelles</a></li>
                            <li><a href="{{ path('user_profil_edit') }}">Modifier mon profil</a></li>
                        {% endif %}
                        <li class="deconnecte"><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Me connecter</a></li>
                        <li><a href="{{ path('user_register') }}">M'inscrire</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        <button aria-hidden="true" id="nav-icon" class="bouton-menu"><img src="{{ asset('assets/images/icon-menu.svg') }}" alt="Voir le menu"></button>
    </div><!-- fin conteneur -->
</nav>