
{% extends "base.html.twig" %}


{% block title %}
   Ma Page Profil
{% endblock %}

{% block body %}



    <main class="main">
            <!--Annonces home -->
            <article class="page-compte">
                <header class="page-compte-header">
                    <div class="conteneur">
                        <h2 class="titre-page-compte">Bonjour {{ app.user.nickname }}</h2>
                        <img class="avatar" src="{{ asset('uploads/users/' ~ app.user.avatar) }}" alt="{{ app.user.nickname }}">
                    </div>
                </header>
                <div class="fiche-profil">
                    <div class="conteneur">
                        <section class="infos-perso">
                            <h3>Prénom :</h3>
                            <p>{{ app.user.firstname }}</p>
                        </section>
                        <section class="infos-perso">
                            <h3>Nom :</h3>
                            <p>{{ app.user.lastname }}</p>
                        </section>
                        <section class="infos-perso">
                            <h3>Pseudo :</h3>
                            <p>{{ app.user.nickname }}</p>
                        </section>
                        <section class="infos-perso">
                            <h3>E-mail :</h3>
                            <p>{{ app.user.email }}</p>
                        </section>
                        <section class="infos-perso">
                            <h3>Téléphone :</h3>
                            <p>{{ app.user.phone }}</p>
                        </section>
                        <section class="infos-perso">
                            <h3>Adresse :</h3>
                            <p>{{ app.user.address }}</p>
                        </section>
                        <div class="bloc-cta">
                            <a href="{{ path('user_profil_edit') }}" class="bouton-cta">
                                Modifer mon profil
                            </a>
{#                            TODO:: supprimer profil#}
                            <a href="{{ path('user_profil_edit') }}" class="bouton-cta bouton-cta-ghost">
                                Supprimer mon profil
                            </a>
                        </div>
                </div>
            </article>
        </div><!-- fin conteneur -->
    </main>

{% endblock %}